.debugger-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.token, .userInfo {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-image: url('../../assets/images/sleepyPuppy1.png');
  color:black;
  font-size: large;
  font-weight: bold;
}

.userInfo {
  background-image: url('../../assets/images/sleepyPuppy2.png');
}


@media screen and (min-width: 768px) {
  .debugger-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .token, .userInfo {
    width: 48%; 
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}